ion-toolbar{
    text-align: center;
}
ion-label{
    width: 115%;
    margin-top: 2rem;
}
ion-content{
    #map{
        width: 92%;
        height: 60%;
        display: block;
        margin-left: 1rem;
        border-radius: 20px;
    }
    #indicaciones{
        font-size: small;
        padding: 10px;
        width: 100%;
        height: 40%;
        overflow-y: auto;
        display: block;
    }
    .go-btn{
        --ion-color-primary: #012c56;
    }
    .sign-btn{
        --ion-color-tertiary: #5260ff;
    }
    ion-toolbar{
        --ion-background-color: transparent;
        --opacity: 0;
    }
}
#ruta{
    text-align: center;
}
ion-item{
    --ion-background-color:transparent !important;
    box-shadow: none !important;
}

h3{
    font-size: 95%;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

div.img {
    margin-top: 1.5rem;
    border: 1px dashed var(--ion-color-dark);
    border-radius: 10px;
    img {
        // width: 50vh;
        height: 40vh;
    }
    ion-icon {
        font-size: 8rem;
        margin: 8vh;
    }
}